.has-bubbles
  .bubbles

.jellyfish

  = partial "shared/navigation"

    .cell.row.tac

        %h2 Request Trial
        = image_tag("jellyfish-header.png")

    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .


  = partial "shared/footer"
