.has-bubbles
  .bubbles

.jellyfish

  = partial "shared/navigation"

    .cell.mbl#request-trial
      .jellyfish-header.jellyfish--engage
        = image_tag("jellyfish-engage.jpg")
    %h3 Request Trial

    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .


  = partial "shared/footer"
