.has-bubbles
  .bubbles

.jellyfish

  = partial "shared/navigation"

    .cell.mbl#how-to-engage
      .jellyfish-header.jellyfish--engage
        = image_tag("jellyfish-engage.jpg")
    %h3 How to Engage
    .cell
      %p.tss
        For any questions or more information, you can contact us directly by completing the short form below. We promise that it won’t be used for spam.
      %form#form1.wufoo.topLabel.page{"accept-charset" => "UTF-8", :action => "https://projectjellyfish.wufoo.com/forms/z1qwvb2d1do31v9/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => ""}
        .g.mbs
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#name{type: 'text', name: 'Field1', required: 'required'}
              %label.input-label{for: 'Field1'} Full Name
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#email{type: 'text', name: 'Field2', required: 'required'}
              %label.input-label{for: 'Field2'} Email
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#organization{type: 'text', name: 'Field3', required: 'required'}
              %label.input-label{for: 'Field3'} Organization
        .cell.cell--s
          %input.btn{type: 'submit', value: 'Make Request'}
          %input#idstamp{:name => "idstamp", :type => "hidden", :value => "iRiCDpzIFOFs+E2daYphj6B22pLJGGoK2VgYJ1P6qAo="}
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .


  = partial "shared/footer"
