.has-bubbles
  .bubbles

.jellyfish

  = partial "shared/navigation"

  .cell.row.tac

    .jellyfish-header.jellyfish--tagline
      %h3 Thank you for interest, we will get back to you shortly!
      = image_tag("jellyfish-header.png")
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .
    %p .


  = partial "shared/footer"
